@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;500;700&family=Open+Sans:wght@300;400;600&family=Raleway:wght@100;500&display=swap");

body {
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.page-box {
  position: relative;
}

.bg-cont {
  position: relative;
  height: 100%;
  width: 100%;
}

.page-bg {
  position: fixed;
  bottom: -250px;
  width: 100%;
  z-index: 7;
}

/* background */

.sun-cont {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 210%;
  left: 50%;
}

.sun {
  width: 600px;
  height: 600px;
  position: absolute;
  margin-left: -300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 141, 0, 1) 50%,
    rgba(253, 187, 45, 1) 100%
  );
  box-shadow: 0 0 30px 20px #fd8f3a;
  z-index: 6;
}

.glow {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: scale(0);
  animation: glowing 5s ease-in-out infinite;
}

.glow1 {
  background: rgba(254, 170, 79, 0.8);
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
  z-index: 5;
  animation-delay: 1s;
}

.glow2 {
  width: 700px;
  height: 700px;
  margin: -350px 0 0 -350px;
  background: rgba(254, 180, 98, 0.6);
  z-index: 4;
  animation-delay: 1.5s;
}

.glow3 {
  width: 750px;
  height: 750px;
  margin: -375px 0 0 -375px;
  background: rgba(255, 189, 118, 0.4);
  z-index: 3;
  animation-delay: 2s;
}

.glow4 {
  width: 800px;
  height: 800px;
  margin: -400px 0 0 -400px;
  background: rgba(255, 199, 137, 0.2);
  z-index: 2;
  animation-delay: 2.5s;
}

/* night sky */
.night {
  width: 100%;
  height: 300%;
  background: linear-gradient(
    180deg,
    rgba(5, 0, 17, 1) 15%,
    rgba(29, 12, 60, 1) 30%,
    rgba(26, 1, 42, 1) 50%,
    rgba(253, 29, 29, 0.8) 82%,
    rgba(255, 98, 0, 0.8) 99%
  );
  position: absolute;
  top: 0;
  z-index: 1;
}

.stars {
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: 2;
}

.shooting-star {
  position: absolute;
  top: 0;
  right: 0;
  height: 5px;
  width: 200px;
  border-radius: 100px;
  background: linear-gradient(
    -90deg,
    rgb(216, 215, 253, 1) 50%,
    rgba(251, 251, 251, 0) 100%
  );
  filter: drop-shadow(0 0 5px #ffc400);
  z-index: 3;
  transform: translate(0, -60px) rotate(145deg);
  animation: falling 2s ease-in-out infinite;
}

.ss2 {
  right: 30%;
  animation-delay: 0.5s;
}

.ss3 {
  right: 50%;
  animation-delay: 1s;
}

.ss4 {
  right: 20%;
  animation-delay: 1.5s;
}

/* nav links */
.navbar {
  position: fixed;
  width: 100%;
  margin: 20px 0 0 0;
  z-index: 11;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  margin: 0 100px 0 0;
}

.list a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;
}

.list {
  list-style-type: none;
  width: 100px;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.list:hover a:after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  border: 1px solid #fff;
  bottom: 50%;
  left: 50%;
  margin: 0 0 -40px -40px;
  transform: rotate(45deg);
}

/* welcome section */
.name-card {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 150px;
  left: 50px;
  z-index: 10;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 6.5rem;
  margin: 0;
}

h2 {
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

/* animations */
@keyframes falling {
  0% {
    transform: translate(0, -60px) rotate(145deg);
    width: 0px;
  }
  50% {
    width: 100px;
  }
  80% {
    width: 100px;
    transform: translate(-2000px, 1500px) rotate(145deg);
  }
  100% {
    transform: translate(-2000px, 1500px) rotate(145deg);
    width: 100px;
  }
}

@keyframes glowing {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
